<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sc2FarshStreamHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Sc2FarshStreamHelper.Properties.Settings>
            <setting name="ServerUri" serializeAs="String">
                <value>http://5.101.121.112</value>
            </setting>
            <setting name="Sc2ClientPort" serializeAs="String">
                <value>6120</value>
            </setting>
            <setting name="RecentSc2Region" serializeAs="String">
                <value>eu</value>
            </setting>
        </Sc2FarshStreamHelper.Properties.Settings>
    </userSettings>
</configuration>